@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');

@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/league-gothic.eot');
	src: url('../fonts/league-gothic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/league-gothic.woff') format('woff'),
	url('../fonts/league-gothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,
body{
	width:100%;
	height:100%;
	overflow: hidden;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 3vmin;
	line-height: 1.3;
	color: white;
}

.bg {
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-wrapper {
	position: relative;
	top: 2.5%;
	bottom: 2.5%;
	left: 2.5%;
	right: 2.5%;
	width: 95%;
	height: 95%;
	display: flex;
	justify-content: flex-end;
}

.section {
	width: 100%;
	height: 100%;
	background-color: #872e27;
}

.grid-wrapper {
	box-sizing: border-box;
	display: grid;
	grid-template-areas:
			"header header"
			"content content"
			". credit";
	grid-template-columns: auto 40%;
	grid-template-rows: 6vmin 1fr auto;
	grid-column-gap: 10vmin;
	height: 100%;
	padding: 10vmin;
}

.logo-wrapper {
	grid-area: header;
	height: 180px;
	width: 100px;
}

.logo {
	margin: 0;
	height: 60px;
}

.content {
	align-self: center;
	grid-area: content;
}

.title {
	margin-bottom: 20px;
	font-size: 3.77em;
	font-family: "League Gothic", Impact, sans-serif;
	font-weight: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-transform: uppercase;
}

.description {
	margin: 20px 0;
	line-height: 1.3;
}

.credit {
	grid-area: credit;
}

.credit span {
	font-size: 12px;
}

.credit a {
	color: white;
	text-decoration: none;
	transition: color .15s ease;
}

.credit a:hover {
	color: #78b9e6;
}

@media (max-width: 568px) {
	.grid-wrapper {
		grid-template-areas: "header" "content" "credit";
		grid-template-columns: auto;
	}

	.title {
		width: 100%;
	}

	.logo {
		height: 50px;
	}

	.credit {
		justify-self: end;
	}
}

@media (min-width: 981px) {
	.section {
		width: 80%;
	}

	.content {
		display: grid;
		grid-template-areas: "title description";
		grid-template-columns: auto 40%;
		grid-column-gap: 10vmin;
	}

	.title {
		grid-area: title;
	}
}